:root{
    --base-color: #3A3845;
    --text-color: #595667;
    --footer-color: #E5E5E5;

}
html{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
body{
   
    font-size: 16px;
    font-family: 'Inter', sans-serif ;
    margin: 0;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 clamp(0rem, -4.5375rem + 16.5vw, 10.3125rem);
}
.default-btn{ 
    padding: 10px 23px;
    border: 1px solid var(--base-color);
    color:var(--base-color);
    background-color: #fff;
    cursor: pointer;
}
.default-btn:hover{
    opacity: 0.7;
}
.subtitle{
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Garamound';
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 1.2px;
    color: var(--base-color);
    text-transform: uppercase;
    text-align: center;
}
.about{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}
.subtitle-text{
    color: var(--text-color);
    width: 436px;
    margin: 0;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 165px 20px 165px;
}
hr{
    color: #E5E5E5;
    margin: 0;
}
.logo{
    width: 145px;
    display: block;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu__item{
    cursor: pointer;
}
.menu__link{
    color: var(--base-color);
}
.menu-options{
    display: flex;
    gap: 24px;
}
.menu-options img{
   cursor: pointer;
}

.burger-menu {
    display: none; 
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--base-color);
}

.container-card{
    margin: 65px auto;
    margin-bottom: 80px;
}
.card-work__items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-work__items-two {
    display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
}

.card-work__text {
    background-color: #F7F6F5;
    width: 555px;
    height: 348px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
h3{
    color: var(--base-color);
    font-weight: bold;
    font-size: 28px;
    font-family: 'Garamond';
    margin: 0;
    margin-bottom: 20px; 
}
.how-works{
    padding: 0 0 77px 0;
}
.container-how-works {
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
}
.content-how-works {
    padding: 45px 0px 30px 60px;
}
h4{
    font-family: 'Garamond';
    font-weight: 700;
    font-size: 28px;
    color: var(--base-color);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 28px;
}
.h4-works {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: var(--base-color); 
    margin: 0;
    margin-top: 25px;
}
.text-h4 {
    font-family: 'Inter';
    font-weight: 400;
    width: 461px;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 23px;
}

.team-card{
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 45px;
}
.team-card__items{
   text-align: center;
   flex-shrink: 0; /* Значение не сжималось */
   width: 255px;
}
.team-card__top{
    color: var(--base-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: var(--base-color); 
    margin: 0;
    margin-top: 16px;
    margin-bottom: 5px;
}
.team-card__job{
    margin: 0;
    color: var(--text-color);
    font-weight: 400;
}
.signup__section{
    padding: 80px 60px 80px 60px;
    text-align: center;
}

.signup__text {
    color: var(--text-color);
    margin: 0;
    margin-top: 70px;
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .signup__input{
    height: 39px;
    width: 390px;
    border: 0;
    border-bottom: 1px solid var(--base-color);
    padding: 0;
    text-align: center;
  }
footer{
    background-color: var(--base-color);
    color: #fff;
}
.container__footer {
    display: flex;
  flex-wrap: wrap;
   padding-top: 48px;
   margin: 0;
   max-width: 100%;
}
.footer__left {
  padding: 0 80px 105px 80px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;

}
.footer__left-text {
    width: 303px;
    color: var(--footer-color);
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: left;
}

.get-started-btn {
    color: var(--footer-color);
    background-color: var(--base-color);
    border: 1px solid white;
    padding: 10px;
   
}
.footer__right {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    padding: 0 80px;
    border-bottom: 1px solid #fff;
}
.footer__right-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }
  .footer__right-list li{
    list-style-type: none;
}
 
h5{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6%;
    line-height: 22px;
    margin: 0;

}
.footer__text-flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 14px;
}

.footer__text {
    color: var(--footer-color);
}
.footer__copyright {
    text-align: center;
    background-color: var(--base-color);
    padding: 40px;
    margin: 0;
    color: var(--footer-color);
}
.footer__copyright a{
    color: #E5E5E5;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 5px;
}

@media (max-width: 1439px) {
    .container__footer {
       padding-top: 48px;
       justify-content: center;
    }
    .footer__left {
      padding: 0 80px 105px 80px;
        border-right:none;
        border-bottom: 1px solid white;
        justify-content: center;
    }
    .footer__left-text {
       
        margin-top: 20px;
        margin-bottom: 30px;
      
    }
    
    .footer__right {
        padding-top: 20px;
    }

}
@media (max-width: 1024px) {
    .card-work__items{
        display: flex;
       flex-wrap: wrap;
       flex-direction: column-reverse;
    }
    .card-work__items-two {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .card-work__text{
        width: 100%;
    }
    .container-how-works{
        flex-direction: column;
    }
    .content-how-works{
        padding: 35px 20px 20px 20px;
    }
    footer{
        height: 100%;
    }
    .footer__left{
        padding: 0 20px;
    }
    .footer__right{
        padding: 30px 20px;
    }
    .container__footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
   .footer__left{
   padding-bottom: 30px;
   border-right: none;
   border-bottom: 1px solid ;
   }
   .footer__right{
    padding-bottom: 30px;
    justify-content: start;
   }
}
@media (max-width: 768px) {

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.header__logo {
    margin: 0 auto;
}

.menu__list, 
.menu-options img:not(:last-child) { 
    display: none; 
}

.burger-menu {
    display: flex; 
}

.menu-options {
    display: flex;
    gap: 0;
}

.menu-options img:last-child {
    display: block; 
}
.signup__input{
    width: 350px;
  }
  .text-h4{
    text-align: left;
    width: 100%;
  }
}

@media (max-width: 430px) {
.team-card{
    padding: 0 20px;
}
.card-work__items{
    flex-direction: column-reverse;
    max-width: 100%;
}
.card-work__items-two{
    flex-direction: column-reverse;
    max-width: 100%;
}
.subtitle{
    font-size: 24px;
}
.subtitle-text{
width: 100%;

}
.content-how-works{
    padding: 20px 20px 20px 20px;
}

.footer__right{
flex-wrap: wrap;
}
.footer__left-text{
    width: auto;
}
.text-h4{
width: 100%
}
}
@media (max-width: 430px) {
    .signup__input{
        width: 100%;
      }
      .footer__copyright{
        padding: 20px 80px;
       
      }
}